In [1]:
nomes_cidades = ["São Palo", "Londres", "Tóquio", "Paris"]
for nome in nomes_cidades:
    print(nome)

São Palo
Londres
Tóquio
Paris

In [2]:
contador = 0
nomes_cidades = ["São Palo", "Londres", "Tóquio", "Paris"]
while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador = contador + 1

São Palo
Londres
Tóquio
Paris

In [3]:
nomes_cidades = "São Palo", "Londres", "Tóquio", "Paris"
for nome in nomes_cidades:
    print(nome)

São Palo
Londres
Tóquio
Paris

In [5]:
cidade = {
    "nome": "São Paulo",
    "estado": "São Paulo",
    "populacao_milhoes": 12.2
}
for chave in cidade:
    print(f"{chave}: {cidade[chave]}")

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [7]:
nomes_cidades = ["São Palo", "Londres", "Tóquio", "Paris"]
for nome in nomes_cidades:
    nome = "Rio de Janeiro"
print(nomes_cidades)

['São Palo', 'Londres', 'Tóquio', 'Paris']

In [9]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = "Rio de Janeiro"
print(nomes_cidades)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

In [10]:
print(list(range(10)))
print(list(range(2, 10)))
print(list(range(2, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

In [11]:
for (variável temporária) in (lista):
    # instruções...
    # ...

SyntaxError: invalid syntax (<ipython-input-11-e8e3c592a432>, line 1)

In [13]:
#O for se repete uma vez para cada elemento da lista. 
#A cada repetição, a variável temporária assume o valor de um elemento da lista, na ordem da lista.
fib = [1, 1, 2, 3, 5, 8, 13]
for elemento in fib:
    print(elemento)

1
1
2
3
5
8
13

In [24]:
# Com 1 parâmetro, ele será interpretado como valor final (exclusivo).
# O valor inicial será 0 e o incremento será 1.

for numero in range(10):
    print(numero)
    # este exemplo imprime os números de 0 a 9, de um em um

0
1
2
3
4
5
6
7
8
9

In [27]:
# Com 2 parâmetros, o primeiro será o valor inicial (inclusivo) e o
# segundo será o final (exclusivo).
# O incremento continuará sendo 1.

for numero in range(1,11):
    print(numero)
    # este exemplo imprime os números de 1 a 10, de um em um

1
2
3
4
5
6
7
8
9
10

In [28]:
# Com 3 parâmetros, o terceiro será interpretado como incremento.
for numero in range(1,20,2):
    print(numero)
    # este exemplo imprime os ímpares positivos menores do que 20
    # ele começa valendo 1 e salta de 2 em 2 até atingir ou passar 20

1
3
5
7
9
11
13
15
17
19

In [29]:
# O incremento pode ser também um decremento (incremento negativo).
for numero in range (10,0,-1):
    print(numero)
    #Imprimindo os números de 1 a 10 em ordem decrescente

10
9
8
7
6
5
4
3
2
1